@using TaskAribMVC.DTO
@model IEnumerable<EmployeeDTO>

<h2>Employee List</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Salary</th>
            <th>Manager</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.Salary</td>
                <td>@employee.ManagerName</td>
                <td>@employee.DepartmentName</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@employee.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@employee.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@employee.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
